h1
{
    
    /* color: #707070; */
    font-style: oblique;
    font-size:larger;
    background-color: rgb(19, 153, 190);
    color: #ffffff;
    line-height: 1.7;
    padding-left: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
}
h2{
    background-color: #ed9191;
    color: rgb(34, 104, 134);
    padding-left: 330px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#java-script
{
    background-color: rgb(207, 138, 214);
    color: #021709;
    padding-left: 550px;
}
#java-script li
{
    font-size: 15px;
}

