p{
            font-weight: 100;
        }
        h3{
            font-weight: 200;
        }
        section h1
        {
            font-weight: 300;
        }

        section p{

            font-weight: 600;
        }