a{
    text-decoration: none;
    letter-spacing: 0.5px;

}
button{
    padding: 10px 16px;
    border: 1px solid #333;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;
}