form{
    border-style: solid;
    padding: 30px;
    background-color:lightsteelblue;

}

form h2{
    text-align: center;
    background-color: palevioletred;
}
#exam{
    margin-left: 500px;
    padding-left: 30px;
}

