ol li
{
    display: inline-block;
   height: 30px;
    font-weight: bold;
    width: 80px;
    border: 1px solid;
    text-align: center;
}
li:hover
{
    background-color: tan;
}

input{
    display: block;
    width: 100px;
    height: 20px;
}